html body {
  background-color: rgb(229, 226, 226);
  margin: 0px;
  height: 100%;
}
.logo {
  max-width: 130px;
  float: left;
}
h1 {
  font-family:sans-serif;
  background-color: rgba(245, 245, 13, 0.719);
  text-transform: capitalize;
  text-align: center;
  margin-top: 0px;
  font-size: 65px;
}
h2 {
  text-align: center;
}
h3 {
  font-family: cursive;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  color: hsla(0, 48%, 17%, 0.712);
  margin-top: 65px;
}
header {
  background: rgba(245, 245, 13, 0.719);
  margin: 0px;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  float: right;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  font-family: cursive;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  margin-right: 10px;
  padding-top: 36px;
}
#aboutUs {
 position: absolute;
}
.violinimg {
  margin-left: 250px;
  width: 850px;
  height: 300px;
  position: relative;
}
#violinsOne {
  height: 650px;
}

.columns {
  float: left;
  background-color: white;
  margin: 100px;
  margin-top: 80px;
  margin-left: 130px;
  margin-right: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  height: 350px;
  width: 250px;
}
.prImg {
  margin-top: 5px;
  max-width: 230px;
  height: 250px;
}

.prImgTwo {
  max-width: 215px;
  height: 250px;
  margin-top: 10px;
}
